<html>
    <body>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
        <link rel="stylesheet" href="/assets/css/common.css" type="text/css" media="all" />
        <div id="wrapper">
          <div id="columns">
          {{ range .Names }}
              <div class="pin"><img src="{{ . }}"/></div>
          {{ end }}  

          </div>
        </div>

        <script>
        var c = new WebSocket('{{ .WebSocketUrl }}');

        c.onopen = function(){
            c.onmessage = function(response){
                json = $.parseJSON(response.data);
                console.log(json)
                var img = $('<img>').attr('src' , json.name);
                var div = $('<div>').attr('class' , "pin");
                var pin = div.append(img)

                $('#columns').prepend(pin);
            };
        }
        </script>
    </body>
</html>

